/*-------------------------------- Header --------------------------------*/
.header {
    background-color: rgb(51, 51, 51) !important;
}

.logo {
    height: 40px;
}

.nav-link {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.nav-link:hover {
    text-decoration: none;
    color: #00b4d8;
}

.search-bar {
    width: 50%;
}

.search-input {
    padding-left: 20px;
}

.cart-button:hover {
    background-color: #00b4d8 !important;
}

.bi-cart, .bi-list {
    font-size: 1.5rem;
}

.btn-outline-light {
    border-radius: 20px;
}

@media (max-width: 992px) {
    /* Hide large menu on smaller screens */
    .d-lg-flex {
        display: none !important;
    }
}
/*--------------------------------------------------------------------------*/

/*--------------------------------- Modals ---------------------------------*/

.modal-content {
    background-color: rgb(51, 51, 51) !important;
    color: white
}

.form-control{
    background-color: rgb(38, 38, 38) !important;
    border-radius: 3rem;
    color: white;
    border: none;
}

.invalid-feedback {
    display: block;
    color: #ff5252;
    margin: 1rem 0;
}

/*--------------------------------------------------------------------------*/